body{
	background-color:#161748;
}
#logo {
	position:relative;
        left:20px;
        width:100px;
}
.margin{
	margin-top:70px;
}
#img3,#img4{
	width:50px;
}
#footer{
background: #f6f6f9;
}
#lc,#lc:hover{
	text-decoration:none;
	color:#ffcc00;
}
