body{
	background-color:#161748;
}
#logo {
	position:relative;
        left:20px;
        width:100px;
}
th:hover{
        position:relative;
	top:10px;
	left:10px;
	background-color:#dfcdff;
	border-radius:0px;
	transition:0s linear;
}
td{
        opacity:0.8
}
td:hover{
        position:relative;
	top:10px;
        left:10px;
        opacity:1;
	border-radius:0px;
	transition:0s linear;
}
td{
        background-color: #ffe0da;
}